---
layout: default
title: Home
---


{% for section in site.sections %}
<section class="{{ section.title | downcase | replace: ' ', '-' }}">
  <h2>{{ section.title }}</h2>
  {{ section.content | markdownify }}
</section>
{% endfor %}




<section class="writing">
  <h2>Technical Projects</h2>
  <ul>
    {% for post in site.posts %}
      <li>
        <span>{{ post.date | date: "%d %b %Y" }}</span>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <h2>Crafting Projects</h2>
  <ul>
    {% for post in site.crafts %}
      <li>
        <span>{{ post.date | date: "%d %b %Y" }}</span>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
    <h2>Recipes</h2>
  <ul>
    {% for post in site.crafts %}
      <li>
        <span>{{ post.date | date: "%d %b %Y" }}</span>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
</section>
